@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Roboto', sans-serif;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.action {
  background-color: #3882F6;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
  padding: 40px 100px;
  width: 40%;
}

.bluebox {
  border: 4px solid #3882F6;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.bluepart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px;
  margin-bottom: 150px;
  margin-top: 40px;
  margin-top: 40px;
}

footer {
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, footer, .hero {
  background-color: #1F2937;
}

.mirket {
  border:none;
  border-radius: 4px;
}

.headerlinks {
  padding-right: 150px;
  padding-top: 20px;
}

.headerlogotext {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  padding-left: 150px;
  padding-top: 20px;
  text-decoration: none;
}

.headerlogotext a {
  text-decoration: none;
  color: #F9FAF8;
}

.heromaintext {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
  padding-left: 150px;
  padding-top: 100px;
  width: 35%;
}

.hero {
  padding-bottom: 100px;
}

.herothirdtext {
  color: #E5E7EB;
  font-size: 10px;
  opacity: 0.5;
  padding-left: 150px;
  padding-top: 5px;
  width: 40%;
}

.herosecondarytext {
  color: #E5E7EB;
  font-size: 18px;
  padding-left: 150px;
  padding-top: 5px;
  width: 32%;
}

.imagesubtext {
  margin-top: 5px;
  text-align: center;
}

.informationheadertext {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

.mirketmain {
  margin-left: 800px;
  margin-top: -200px;
}

.left {
  align-self: center;
}

.quotee {
  font-weight: bold;
  margin-left: 65%;
  margin-right: auto;
}

.quotesection {
  background-color: #E5E7EB;
  padding-bottom: 100px;
  padding-top: 100px;
}

.quotetext {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
}

.signup2 {
  background-color: #3882F6;
  border: 2px solid white;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 25px;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.signup2:hover {
  background-color: white;
  color: #3882F6;
}

ul li {
  display: inline-block;
  padding: 0 20px;
}

ul li a {
  color: white;
  display: inline-block;
  text-decoration: none;
}
