@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  background-image: url('https://img.freepik.com/premium-vector/poker-table-background-green-color_47243-1094.jpg?w=2000');
  margin: 0;
}

h1 {
  color: goldenrod;
}

p {
  color: white;
  font-size: 20px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: goldenrod;
  color: #016f32;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin: 5px auto;
  padding: 10px;
  transition: background-color 0.15s, color 0.15s;
  width: 150px;
}

button:hover {
  background-color: #016f32;
  color: goldenrod;
}
